HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache



### VS Code ###
.vscode/


### Documentation and Config Files ###
*.md
!API_COLLECTION.json
!API_DOCUMENTATION.md
!README.md
!POSTMAN_COLLECTION.json
*.txt
*.json
!API_COLLECTION.json
!POSTMAN_COLLECTION.json
*.properties
*.xml

